API_KEY =
API_SECRET =
WHITELISTED_IPS =
WEBHOOK_SECRET =
MONGO_URI =
HYPERLIQUID_WALLET_ADDRESS =
HYPERLIQUID_PRIVATE_KEY =
HYPERLIQUID_SLIPPAGE =
LIGHTER_ACCOUNT_INDEX =
LIGHTER_API_KEY_INDEX =
LIGHTER_API_PRIVATE_KEY =
LIGHTER_SLIPPAGE =