Flask==3.0.3
Werkzeug==3.0.3
pandas==2.2.2
numpy==1.26.4
pymongo==4.1.1
python-binance==1.0.16
python-dotenv==0.21.1
gunicorn==22.0.0
dnspython==2.6.1
binance-sdk-derivatives-trading-usds-futures
streamlit